@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #777;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
